extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let educationid = toShow._id
    - let educationlevel = toShow.Level
    - let educationtype = toShow.Type
    - let educationcost = toShow.Cost
    - let actionid = "/resource/education/" + educationid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='educationAttr mr-3') education ID:
        div #{educationid}
      div.row
        div(class='educationAttr mr-3') education Level:
        div #{educationlevel}
      div.row
        div(class='educationAttr mr-3') education Type:
        div #{educationtype}
      div.row
        div(class='educationAttr mr-3') education Cost:
        div #{educationcost}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
  script.
    function cancel() {
      // Go back to the home page for the education collection
      window.location.href='/education'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'  // Dont need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/education'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }